$indigo: #5661b3;
$teal: #38a89d;
$primary: $indigo;
$theme-colors: (
    primary: $indigo,
    success: $teal
);


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.card, .btn, .form-control { 
    border-radius: 0;
}

.form-group {
    border-radius: 0;
}

.pagination {
    border-radius: 0;
}
